
body {
	margin: 0;
	background: #005ce6;
	font-family: 'Work Sans', sans-serif;
  overflow-y: scroll;
}

/* ################# Nav ################# */
  header {
    background: linear-gradient(#006999, #005ce6);
  }

  .container {
    width: 80%;
    margin: 0 auto;
    background-position-x: 10px;
  }

  .container h1{
    color: white;
    text-shadow: 2px 2px #000000;
  }

  .container h1:hover{
    text-shadow: 3px 3px 5px #000000;
  }

  header::after {
    content: '';
    display: table;
    clear: both;
  }

  .logo {
    float: left;
    padding: 10px;
  }

/* ################# Home ################# */
  .home {
    margin: 2.5em auto;
    max-width: 960px;
  }

  .home, .main-intro, footer {
    padding: 0 1em;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .project {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 300px;
    padding: 2em;
    margin: 1.2em;
    border-radius: .5em;
    transition: transform 0.5s;
  }

  .project:hover{
    box-shadow: 10px 10px 5px #004cbe;

  }

  .project svg {
    width: 4em;
    fill: white;
    margin-bottom: 2em;
  }

  .project p {
    font-size: 1em;
    font-weight: 500;
    backface-visibility: hidden;
  }

  .project a {
    text-decoration: none;
    color: white;
    display: block;
  }

  .git {
    background: #181717;
  }

  .codepen{
    background: #000000;
  }

  .linkedin {
    background: #0077B5;
  }
  .twitter {
    background: #4dc3ff;
  }
  .insta {
    background: linear-gradient(to top right, #fccc63, #fccc63, #cd486b, #8a3ab9,#4c68d7);
  }
  

  .blog{
    background: #ff9900;
  }

/* ################# Footer ################# */
  footer {
    color: white;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 0px;
  }

  .love {
    color: red;
    margin: 0 .25em;
    text-decoration: none;
  }

  .flag {
    width: 180px;
    height: 120px;
    overflow: hidden;
    display: block;
    margin: auto;
  }

  .colombia {
    background: linear-gradient(to bottom, #FCD116 0%, #FCD116 50%, #003893 50%, #003893 75%, #CE1126 75%, #CE1126 100%);
  }


/* ################# Responsive ################# */
@media screen and (max-width: 900px){

  body{
    
    overflow-y: auto;
  }
  .container h1{
    text-align: center;
  }

  .project{
    flex: 200px;
  }
  
}