
/* font-family:
  'Roboto Mono',
  'Titillium Web',
  'Share Tech',
  'Lato',
  'Ubuntu',
  'Tajawal'; 
  'Cantarell',
*/

*{
  margin:auto;
  padding: 0;
  overflow-x: hidden;
}

:root{
  /* 564555 */
  --color-green: #48da9b;
  --git-color: #181717;
  --codepen-color: #000000;
  --linkedin-color: #0077B5;
  --twitter-color: #4dc3ff;
}

/* <!-- ########## HEADER SECTION ########## --> */

.parallax-top {
  background-image: url(../img/darkness.png);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.welcomer {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.title {    
  color: white;
  text-shadow: 2px 2px #000;
  animation: slideInLeft .3s ease-in-out;
}

.title h1{font-size: 2em; font-weight: bold; letter-spacing: 10px; font-family: 'Roboto Mono', sans-serif; text-transform: uppercase; color: #CC2F7D;}
.title h3{font-size: 2em; font-weight: lighter; letter-spacing: 6px; font-family: 'Titillium Web', sans-serif;}
.title h4{font-size: 1em; font-weight: lighter;position: relative;}

.word{
  top: 0px;
  left: 1px;
  min-height: 1em;
  margin:10px;
}   

.myWord{
  font-family: 'Share Tech', sans-serif;
  color: var(--color-green);
  text-shadow: 2px 2px #000000;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 1.1em;
  text-align: center;
}

.word .cursor{
  display: inline-block;
  min-width: 1px;
  background:#fff;
  margin-left: -0.2em;
  margin-top: -0.1em;
  height: 1.3em;
  vertical-align: middle;
  animation: blinkCursor 1s infinite;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-60%,0, 0);
    -webkit-transform: translate3d(-60%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes blinkCursor{
  0% { opacity: 1; }
  80%{ opacity: 1; }
  80.1%{ opacity: 0; }
  100%{ opacity: 0; }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  overflow-y: hidden;
}
.footer i{
  overflow-y: hidden;
  font-size: 40px;
}
i{
  transition: 0.3s;
  margin-left: 10px;
  padding-top:10px; 
}
i .fa-github{
  background-color:red;
}
i:hover{
  transform: scale(1.3);
  opacity: 1;
  transition: 0.5s;
}

.footer a {
  text-decoration: none;
  color: #fff;
}